/* Google Font Poppins Added */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Utilities  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    /* width: 100%; */
    padding: 140px;
    padding-top: 50px;
}

/* Header Section */
.header {
    display: flex;
    column-gap: 24px;
    background-color: #161616;
    /* padding-right: 80px; */
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-info {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* padding-bottom: 100px; */
    color: #FFFFFF;
    transform: scale(.8);
}
.header-info *{
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4px;
    line-height: 1.1em;
    text-align: center;
}

.header-info p {
    font-size: 16px;
    padding-bottom: 30px;
}

.header-img{
    width: 50%;
}
.header-img img {
    /* height: 100%; */
    width: 100%;
}

.active-btn {
    text-decoration: none;
    color: #FFFFFF;
    padding: 16px;
    background-color: #DD0000;
    border-radius: 5px;
    margin-top: 15px;
}


/* Blogs Section */

.blogs-part{
    width: 100%;
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-column-gap: 24px;
}

.blog-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 310px;
    background-color: #161616;
    border-radius: 10px;
}
.blog-nav a{
    text-decoration: none;
    color: #161616;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    height: 34px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
}
.blog-nav .selected{
    background-color: #DD0000;
    color: #FFFFFF;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    width: 100%;
}
.blog{
    width: 225px;
    border: 1px solid #eeeded;
    border-radius: 10px;
}
.blog-thumbnail img{
    width: 100%;
}
.blog-info{
    padding: 20px;
}
.blog-info h3{
    font-size: 12px;
    font-weight: 700;
}
.blog-info a{
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 16px;
    font-size: 10px;
    font-weight: 600;
    color: #161616;     ;
}

.blog-details span{
    margin-right: 30px;
    font-size: 10px;
}

.fa-regular{
    margin-right: 10px;
}

/* Footer Added */


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 140px;
    background-color: #161616;
}

.footer h2{
    margin: 0;
    color: #FFFFFF;
}

.footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 50px 0;
}

.footer-nav{
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.footer-nav a{
    text-decoration: none;
    color: #B9B9B9;
}


/* Media Queries */

/* mobile device */

@media only screen and (max-width:688px) {

    .container{
        padding:20px;
    }
    .header{
        flex-direction: column;

        /* align-items: baseline; */
    }
    .header-info h1{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:inherit
        /* font-size: 1.5em; */
    }
    .blogs-part{
        display: flex;
        flex-direction: column;
    }
    .blog-nav{
        /* flex-direction: row; */
        background-color: #FFFFFF;
        border: 1px solid #E8E8E8;
        
    }
    .blog-nav *{
        border: 1px solid #E8E8E8;
    }
    .footer{
                 display: none;
             }
 }
}

/* For tab */
 @media only screen and (min-width: 688px) and (max-width: 992px) {


    /* .body, html{
        width: 100%;
        margin: 0;
    }          */
    
    .container{
                 width: 100%;
                 margin: 50px;
                 margin-top: 20px;
                 padding: 0;
             }

             .header{
                 width: 100%;
             }
             h1{
                 font-size: 3.2em;
             }
             .header-img img{
                 
             }
             .blogs-part, footer{
                 /* display: none; */
             }
 }